In [1]:
import pandas as pd

# 조인 여행자
df_traveller = pd.read_csv('c:/Users/tj/Desktop/정규프로젝트/join_data/merged_total2.csv')
# # 이동수단 유형
# df_mvmn_consume = pd.read_csv('c:/Users/tj/Desktop/정규프로젝트/data/전처리/tr_mvmn_consume.csv')
# # 숙박 유형
# df_lodge_consume = pd.read_csv('c:/Users/tj/Desktop/정규프로젝트/data/전처리/tr_lodge_consume.csv')
# # 사전 소비
# df_adv_consume = pd.read_csv('c:/Users/tj/Desktop/정규프로젝트/data/전처리2/adv_total.csv')
# 활동 소비
df_activity_consume = pd.read_csv('c:/Users/tj/Desktop/정규프로젝트/data/전처리/tr_activity_대표소비활동.csv', encoding='ISO-8859-1')

In [ ]:
# 이동수단 TRAVEL_ID가 TRAVELER_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_mvmn_consume[~df_mvmn_consume['TRAVEL_ID'].isin(df_traveller['TRAVELER_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 이동 소비 내역 TRAVEL_ID가 df_traveller에 존재합니다.")

In [ ]:
# 숙박 TRAVEL_ID가 TRAVELER_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_lodge_consume[~df_lodge_consume['TRAVEL_ID'].isin(df_traveller['TRAVELER_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 숙박 내역 TRAVEL_ID가 df_traveller에 존재합니다.")

In [4]:
# 활동유형 TRAVEL_ID가 TRAVELER_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_activity_consume[~df_activity_consume['TRAVEL_ID'].isin(df_traveller['TRAVELER_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 활동 소비 유형 TRAVEL_ID가 df_traveller에 존재합니다.")

모든 활동 소비 유형 TRAVEL_ID가 df_traveller에 존재합니다.

In [ ]:
# 여행객 - 이동유형 조인 

merged_df = pd.merge(df_traveller, df_mvmn_consume,
                    left_on='TRAVELER_ID', right_on='TRAVEL_ID',
                    how='left')
merged_df.drop(columns=['TRAVEL_ID'], inplace = True)

# 여행객 - 이동유형 - 숙박유형 조인
merged_df = pd.merge(merged_df, df_lodge_consume,
                     left_on = 'TRAVELER_ID', right_on = 'TRAVEL_ID',
                     how = 'left')
merged_df.drop(columns=['TRAVEL_ID'], inplace = True)

merged_df.fillna('', inplace=True)

print(merged_df.columns)

print(merged_df.isnull().sum())

In [6]:
# 여행객 - 활동 유형 조인 

merged_df = pd.merge(df_traveller, df_activity_consume,
                    left_on='TRAVELER_ID', right_on='TRAVEL_ID',
                    how='left')
merged_df.drop(columns=['TRAVEL_ID'], inplace = True)

merged_df.fillna('', inplace=True)

print(merged_df.columns)

print(merged_df.isnull().sum())

Index(['TRAVELER_ID', 'MALE', 'FEMALE', 'AGE_GRP', 'JOB_1', 'JOB_2', 'JOB_3',
       'JOB_4', 'JOB_5', 'TRAVEL_TERM', 'TRAVEL_NUM', 'TRAVEL_COMPANIONS_NUM',
       'TRAVEL_MOTIVE_1', 'TRAVEL_MOTIVE_2', 'TRAVEL_MOTIVE_3',
       'TRAVEL_MOTIVE_4', 'TRAVEL_MOTIVE_5', 'TRAVEL_MOTIVE_6',
       'TRAVEL_MOTIVE_7', 'TRAVEL_MOTIVE_8', 'TRAVEL_MOTIVE_9', 'MVMN_1',
       'MVMN_2', 'MVMN_3', 'MVMN_4', 'LODGING_TYPE_1', 'LODGING_TYPE_2',
       'LODGING_TYPE_3', 'LODGING_TYPE_4', 'LODGING_TYPE_5', 'LODGING_TYPE_6',
       'TOTAL_MVMN_PAYMENT', 'TOTAL_LODGING_PAYMENT', 'TOTAL_ADV_PAYMENT',
       'TOTAL_ACTIVITY_PAYMENT', 'TOTAL_PAYMENT', 'EDU_NM', 'GRADUATE',
       'MARR_STTS', 'FAMILY_MEMB', 'TRAVEL_MOTIVE_1.1', 'PAYMENT_GRADE',
       'ACT_TYPE_1', 'ACT_TYPE_2', 'ACT_TYPE_3', 'ACT_TYPE_4'],
      dtype='object')
TRAVELER_ID               0
MALE                      0
FEMALE                    0
AGE_GRP                   0
JOB_1                     0
JOB_2                     0
JOB_3                     0
JOB_4                     0
JOB_5                     0
TRAVEL_TERM               0
TRAVEL_NUM                0
TRAVEL_COMPANIONS_NUM     0
TRAVEL_MOTIVE_1           0
TRAVEL_MOTIVE_2           0
TRAVEL_MOTIVE_3           0
TRAVEL_MOTIVE_4           0
TRAVEL_MOTIVE_5           0
TRAVEL_MOTIVE_6           0
TRAVEL_MOTIVE_7           0
TRAVEL_MOTIVE_8           0
TRAVEL_MOTIVE_9           0
MVMN_1                    0
MVMN_2                    0
MVMN_3                    0
MVMN_4                    0
LODGING_TYPE_1            0
LODGING_TYPE_2            0
LODGING_TYPE_3            0
LODGING_TYPE_4            0
LODGING_TYPE_5            0
LODGING_TYPE_6            0
TOTAL_MVMN_PAYMENT        0
TOTAL_LODGING_PAYMENT     0
TOTAL_ADV_PAYMENT         0
TOTAL_ACTIVITY_PAYMENT    0
TOTAL_PAYMENT             0
EDU_NM                    0
GRADUATE                  0
MARR_STTS                 0
FAMILY_MEMB               0
TRAVEL_MOTIVE_1.1         0
PAYMENT_GRADE             0
ACT_TYPE_1                0
ACT_TYPE_2                0
ACT_TYPE_3                0
ACT_TYPE_4                0
dtype: int64

C:\Users\tj\AppData\Local\Temp\ipykernel_16644\4110090972.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merged_df.fillna('', inplace=True)

In [ ]:
# merged_df.to_csv('merged_total3.csv', index=False)