In [3]:
# 1. 여행자 <- 행동 조인
import pandas as pd # , encoding='ISO-8859-1'

# 여행자(조인전)
df_traveller = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/데이터복제실험_left.csv', encoding='ISO-8859-1')

# 행동(row 중복 o)
df_act = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/행동/tr_전국_행동_조인전.csv')

In [4]:
# 행동 TRAVEL_ID가 이동 TRAVEL_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_act[~df_act['TRAVEL_ID'].isin(df_traveller['TRAVELER_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 사전_이동 TRAVEL_ID가 df_traveller에 존재합니다.")

모든 사전_이동 TRAVEL_ID가 df_traveller에 존재합니다.

In [5]:
# 이동 - 사전_이동 조인 

merged_df = pd.merge(df_traveller, df_act,
                    left_on='TRAVELER_ID', right_on='TRAVEL_ID',
                    how='outer')
merged_df.drop(columns=['TRAVEL_ID'], inplace = True)

merged_df.fillna('', inplace=True)

print(merged_df.columns)

print(merged_df.isnull().sum())

Index(['TRAVELER_ID', 'REGION_1', 'REGION_2', 'REGION_3', 'REGION_4', 'MALE',
       'FEMALE', 'AGE_GRP', 'JOB_1', 'JOB_2', 'JOB_3', 'JOB_4', 'JOB_5',
       'TRAVEL_TERM', 'TRAVEL_NUM', 'MOTIVE_1', 'MOTIVE_2', 'MOTIVE_3',
       'MOTIVE_4', 'MOTIVE_5', 'MOTIVE_6', 'MOTIVE_7', 'MOTIVE_8', 'MOTIVE_9',
       'TRAVEL_COMPANIONS_NUM', 'MARR_STTS', 'FAMILY_MEMB', 'INCOME', 'MVMN_1',
       'MVMN_2', 'MVMN_3', 'MVMN_4', 'MVMN_5', 'LODGING_1', 'LODGING_2',
       'LODGING_3', 'LODGING_4', 'LODGING_5', 'LODGING_6', 'MVMN_PAYMENT',
       'LODGING_PAYMENT', 'ACTIVITY_TYPE_CD', 'ACT_1', 'ACT_2', 'ACT_3',
       'ACT_4', 'ACT_PAY_1', 'ACT_PAY_2', 'ACT_PAY_3', 'ACT_PAY_4',
       'ACTIVITY_PAYMENT'],
      dtype='object')
TRAVELER_ID              0
REGION_1                 0
REGION_2                 0
REGION_3                 0
REGION_4                 0
MALE                     0
FEMALE                   0
AGE_GRP                  0
JOB_1                    0
JOB_2                    0
JOB_3                    0
JOB_4                    0
JOB_5                    0
TRAVEL_TERM              0
TRAVEL_NUM               0
MOTIVE_1                 0
MOTIVE_2                 0
MOTIVE_3                 0
MOTIVE_4                 0
MOTIVE_5                 0
MOTIVE_6                 0
MOTIVE_7                 0
MOTIVE_8                 0
MOTIVE_9                 0
TRAVEL_COMPANIONS_NUM    0
MARR_STTS                0
FAMILY_MEMB              0
INCOME                   0
MVMN_1                   0
MVMN_2                   0
MVMN_3                   0
MVMN_4                   0
MVMN_5                   0
LODGING_1                0
LODGING_2                0
LODGING_3                0
LODGING_4                0
LODGING_5                0
LODGING_6                0
MVMN_PAYMENT             0
LODGING_PAYMENT          0
ACTIVITY_TYPE_CD         0
ACT_1                    0
ACT_2                    0
ACT_3                    0
ACT_4                    0
ACT_PAY_1                0
ACT_PAY_2                0
ACT_PAY_3                0
ACT_PAY_4                0
ACTIVITY_PAYMENT         0
dtype: int64

C:\Users\qudgn\AppData\Local\Temp\ipykernel_14324\2214201689.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merged_df.fillna('', inplace=True)

In [ ]:
# merged_df.to_csv('데이터복제실험.csv', index=False)