In [1]:
# 1. 이동 <- 사전_이동 조인
import pandas as pd

# 이동(조인전)
df_mvmn = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/이동/tr_전국_이동_조인전.csv', encoding='ISO-8859-1')

# 사전_이동
df_adv_mvmn = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/사전/tr_전국_사전이동.csv')

In [2]:
# 사전_이동 TRAVEL_ID가 이동 TRAVEL_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_adv_mvmn[~df_adv_mvmn['TRAVEL_ID'].isin(df_mvmn['TRAVEL_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 사전_이동 TRAVEL_ID가 df_traveller에 존재합니다.")

모든 사전_이동 TRAVEL_ID가 df_traveller에 존재합니다.

존재하지 않는 TRAVEL_IDs:
['f004628' 'g012679' 'h006651' 'h006747']

In [3]:
# 이동 - 사전_이동 조인 

merged_df = pd.merge(df_mvmn, df_adv_mvmn,
                    left_on='TRAVEL_ID', right_on='TRAVEL_ID',
                    how='left')
#merged_df.drop(columns=['TRAVEL_ID'], inplace = True)

merged_df.fillna('', inplace=True)

print(merged_df.columns)

print(merged_df.isnull().sum())

Index(['TRAVEL_ID', 'MVMN_SE', 'MVMN_1_x', 'MVMN_2_x', 'MVMN_3_x', 'MVMN_4_x',
       'MVMN_5_x', 'PAYMENT_MVMN_x', 'MVMN_1_y', 'MVMN_2_y', 'MVMN_3_y',
       'MVMN_4_y', 'MVMN_5_y', 'PAYMENT_MVMN_y'],
      dtype='object')
TRAVEL_ID         0
MVMN_SE           0
MVMN_1_x          0
MVMN_2_x          0
MVMN_3_x          0
MVMN_4_x          0
MVMN_5_x          0
PAYMENT_MVMN_x    0
MVMN_1_y          0
MVMN_2_y          0
MVMN_3_y          0
MVMN_4_y          0
MVMN_5_y          0
PAYMENT_MVMN_y    0
dtype: int64

C:\Users\qudgn\AppData\Local\Temp\ipykernel_19116\740923194.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merged_df.fillna('', inplace=True)

In [ ]:
# merged_df.to_csv('전국_이동_조인.csv', index=False)

In [8]:
# 2. 숙박 <- 사전_숙박 조인
import pandas as pd

# 숙박(조인전)
df_lodge = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/숙박/tr_lodge_전국_숙박.csv')

# 사전_숙박
df_adv_lodge = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/사전/tr_adv_consume_전국3_숙박.csv')

In [10]:
# 사전_숙박 TRAVEL_ID가 이동 TRAVEL_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_adv_lodge[~df_adv_lodge['TRAVEL_ID'].isin(df_lodge['TRAVEL_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 사전_숙박 TRAVEL_ID가 df_traveller에 존재합니다.")

모든 사전_숙박 TRAVEL_ID가 df_traveller에 존재합니다.

In [11]:
# 숙박 - 사전_숙박 조인 

merged_df = pd.merge(df_lodge, df_adv_lodge,
                    left_on='TRAVEL_ID', right_on='TRAVEL_ID',
                    how='left')
#merged_df.drop(columns=['TRAVEL_ID'], inplace = True)

merged_df.fillna('', inplace=True)

print(merged_df.columns)

print(merged_df.isnull().sum())

Index(['LODGING_1_x', 'LODGING_2_x', 'LODGING_3_x', 'LODGING_4_x',
       'LODGING_5_x', 'LODGING_6_x', 'LODGING_PAYMENT', 'LODGING_1_y',
       'LODGING_2_y', 'LODGING_3_y', 'LODGING_4_y', 'LODGING_5_y',
       'LODGING_6_y', 'LODGING_PAY'],
      dtype='object')
LODGING_1_x        0
LODGING_2_x        0
LODGING_3_x        0
LODGING_4_x        0
LODGING_5_x        0
LODGING_6_x        0
LODGING_PAYMENT    0
LODGING_1_y        0
LODGING_2_y        0
LODGING_3_y        0
LODGING_4_y        0
LODGING_5_y        0
LODGING_6_y        0
LODGING_PAY        0
dtype: int64

C:\Users\qudgn\AppData\Local\Temp\ipykernel_23124\2810844057.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merged_df.fillna('', inplace=True)

In [12]:
# merged_df.to_csv('전국_숙박_조인.csv', index=False)

In [26]:
# 3. 행동 <- 사전_행동 조인
import pandas as pd

# 행동(조인전)
df_act = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/행동/tr_activity_전국.csv')

# 사전_숙박
df_adv_act = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/사전/tr_adv_consume_전국3_행동2.csv')

In [27]:
# 사전_행동 TRAVEL_ID가 행동 TRAVEL_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_adv_act[~df_adv_act['TRAVEL_ID'].isin(df_act['TRAVEL_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 사전_숙박 TRAVEL_ID가 df_traveller에 존재합니다.")

모든 사전_숙박 TRAVEL_ID가 df_traveller에 존재합니다.

존재하지 않는 TRAVEL_IDs:
['e000004' 'e000938' 'e001521' 'e002254' 'e002399' 'e002782' 'e003002'
 'e003704' 'e004222' 'e004432' 'e008307' 'e009895' 'e012805' 'f001299'
 'f001480' 'f001598' 'f010276' 'g000014' 'g001008' 'g002098' 'g002258'
 'g002585' 'g002842' 'g003192' 'g007536' 'g011522' 'h000291' 'h000317'
 'h002167']

In [28]:
# 행동 - 사전_행동 조인 

merged_df = pd.merge(df_act, df_adv_act,
                    left_on='TRAVEL_ID', right_on='TRAVEL_ID',
                    how='left')
#merged_df.drop(columns=['TRAVEL_ID'], inplace = True)

merged_df.fillna('', inplace=True)

print(merged_df.columns)

print(merged_df.isnull().sum())

Index(['TRAVEL_ID', 'ACTIVITY_TYPE_CD', 'ACT_1_x', 'ACT_2_x', 'ACT_3_x',
       'ACT_4_x', 'ACT_PAY_1', 'ACT_PAY_2', 'ACT_PAY_3', 'ACT_PAY_4',
       'ACTIVITY_PAYMENT', 'ACT_1_y', 'ACT_2_y', 'ACT_3_y', 'ACT_4_y',
       'ACT_PAY1', 'ACT_PAY2', 'ACT_PAY3', 'ACT_PAY4'],
      dtype='object')
TRAVEL_ID           0
ACTIVITY_TYPE_CD    0
ACT_1_x             0
ACT_2_x             0
ACT_3_x             0
ACT_4_x             0
ACT_PAY_1           0
ACT_PAY_2           0
ACT_PAY_3           0
ACT_PAY_4           0
ACTIVITY_PAYMENT    0
ACT_1_y             0
ACT_2_y             0
ACT_3_y             0
ACT_4_y             0
ACT_PAY1            0
ACT_PAY2            0
ACT_PAY3            0
ACT_PAY4            0
dtype: int64

C:\Users\qudgn\AppData\Local\Temp\ipykernel_23124\2873729504.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merged_df.fillna('', inplace=True)

In [29]:
# merged_df.to_csv('전국_행동_조인.csv', index=False)

In [1]:
# 3. 여행자 <- 이동 / 숙박 / 행동 (유형+가격) 조인
import pandas as pd

# 여행자(조인전)
df_traveller = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/여행객/tr_traveller_조인전.csv')

# 숙박
df_lodge = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/숙박/전국_숙박_조인2.csv')

# 이동
df_mvmn = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/이동/전국_이동_조인.csv')

# 행동
df_act = pd.read_csv('c:/Users/qudgn/Desktop/BH/프로젝트/정규프로젝트/data/TR/TR_전국_전처리/행동/전국_행동_조인3.csv')

In [2]:
# 숙박 TRAVEL_ID가 여행자 TRAVELER_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_lodge[~df_lodge['TRAVEL_ID'].isin(df_traveller['TRAVELER_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 숙박 TRAVEL_ID가 df_traveller에 존재합니다.")

모든 숙박 TRAVEL_ID가 df_traveller에 존재합니다.

In [3]:
# 이동 TRAVEL_ID가 여행자 TRAVELER_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_mvmn[~df_mvmn['TRAVEL_ID'].isin(df_traveller['TRAVELER_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 이동 TRAVEL_ID가 df_traveller에 존재합니다.")

모든 이동 TRAVEL_ID가 df_traveller에 존재합니다.

In [5]:
# 행동 TRAVEL_ID가 여행자 TRAVELER_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_act[~df_act['TRAVEL_ID'].isin(df_traveller['TRAVELER_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 행동 TRAVEL_ID가 df_traveller에 존재합니다.")

모든 행동 TRAVEL_ID가 df_traveller에 존재합니다.

In [6]:
# 여행자 - 이동 조인 

merged_df = pd.merge(df_traveller, df_mvmn,
                    left_on='TRAVELER_ID', right_on='TRAVEL_ID',
                    how='left')
merged_df.drop(columns=['TRAVEL_ID'], inplace = True)

# 여행자 - 이동 - 숙박 조인
merged_df = pd.merge(merged_df, df_lodge,
                    left_on='TRAVELER_ID', right_on='TRAVEL_ID',
                    how='left')
merged_df.drop(columns=['TRAVEL_ID'], inplace = True)


# 여행자 - 이동 - 숙박 - 행동 조인
merged_df = pd.merge(merged_df, df_act,
                    left_on='TRAVELER_ID', right_on='TRAVEL_ID',
                    how='left')
merged_df.drop(columns=['TRAVEL_ID'], inplace = True)



merged_df.fillna('', inplace=True)

print(merged_df.columns)

print(merged_df.isnull().sum())

Index(['TRAVELER_ID', 'MALE', 'FEMALE', 'AGE_GRP', 'JOB_1', 'JOB_2', 'JOB_3',
       'JOB_4', 'JOB_5', 'TRAVEL_TERM', 'TRAVEL_NUM', 'MOTIVE_1', 'MOTIVE_2',
       'MOTIVE_3', 'MOTIVE_4', 'MOTIVE_5', 'MOTIVE_6', 'MOTIVE_7', 'MOTIVE_8',
       'MOTIVE_9', 'TRAVEL_COMPANIONS_NUM', 'MARR_STTS', 'FAMILY_MEMB',
       'INCOME', 'MVMN_1', 'MVMN_2', 'MVMN_3', 'MVMN_4', 'MVMN_5',
       'MVMN_PAYMENT', 'LODGING_1', 'LODGING_2', 'LODGING_3', 'LODGING_4',
       'LODGING_5', 'LODGING_6', 'LODGING_PAYMENT', 'ACT_1', 'ACT_2', 'ACT_3',
       'ACT_4', 'ACTIVITY_PAYMENT'],
      dtype='object')
TRAVELER_ID              0
MALE                     0
FEMALE                   0
AGE_GRP                  0
JOB_1                    0
JOB_2                    0
JOB_3                    0
JOB_4                    0
JOB_5                    0
TRAVEL_TERM              0
TRAVEL_NUM               0
MOTIVE_1                 0
MOTIVE_2                 0
MOTIVE_3                 0
MOTIVE_4                 0
MOTIVE_5                 0
MOTIVE_6                 0
MOTIVE_7                 0
MOTIVE_8                 0
MOTIVE_9                 0
TRAVEL_COMPANIONS_NUM    0
MARR_STTS                0
FAMILY_MEMB              0
INCOME                   0
MVMN_1                   0
MVMN_2                   0
MVMN_3                   0
MVMN_4                   0
MVMN_5                   0
MVMN_PAYMENT             0
LODGING_1                0
LODGING_2                0
LODGING_3                0
LODGING_4                0
LODGING_5                0
LODGING_6                0
LODGING_PAYMENT          0
ACT_1                    0
ACT_2                    0
ACT_3                    0
ACT_4                    0
ACTIVITY_PAYMENT         0
dtype: int64

C:\Users\qudgn\AppData\Local\Temp\ipykernel_15132\1456754319.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merged_df.fillna('', inplace=True)