In [ ]:
import pandas as pd

# 여행자
df_traveller = pd.read_csv('c:/Users/tj/Desktop/정규프로젝트/data/TR/TR_전국_전처리/tr_traveller_조인전.csv')

# 이동수단 유형,가격
df_mvmn_consume = pd.read_csv('c:/Users/tj/Desktop/정규프로젝트/data/TR/TR_전국_전처리/이동/tr_mvmn_전국_유형,가격완성본.csv')

# 숙박 유형, 소비
df_lodge_consume = pd.read_csv('c:/Users/tj/Desktop/정규프로젝트/data/TR/TR_전국_전처리/숙박/tr_lodge_전국_유형,가격.csv')

# # 사전 소비
# df_adv_consume = pd.read_csv('c:/Users/tj/Desktop/정규프로젝트/data/전처리2/adv_total.csv')

# 행동 유형, 소비
df_activity_consume = pd.read_csv('c:/Users/tj/Desktop/정규프로젝트/data/TR/TR_전국_전처리/행동/tr_activity_전국_가격,유형3.csv')

In [ ]:
# 이동 TRAVEL_ID가 TRAVELER_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_mvmn_consume[~df_mvmn_consume['TRAVEL_ID'].isin(df_traveller['TRAVELER_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 이동 TRAVEL_ID가 여행자 df_traveller에 존재합니다.")

모든 이동 TRAVEL_ID가 여행자 df_traveller에 존재합니다.

In [9]:
# 숙박 TRAVEL_ID가 TRAVELER_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_lodge_consume[~df_lodge_consume['TRAVEL_ID'].isin(df_traveller['TRAVELER_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 숙박 TRAVEL_ID가 여행자 df_traveller에 존재합니다.")

모든 숙박 TRAVEL_ID가 여행자 df_traveller에 존재합니다.

In [10]:
# 행동 TRAVEL_ID가 TRAVELER_ID에 존재하지 않는 값 찾기
missing_travel_ids = df_activity_consume[~df_activity_consume['TRAVEL_ID'].isin(df_traveller['TRAVELER_ID'])]

# 존재하지 않는 ID가 있는지 체크
if not missing_travel_ids.empty:
    print("존재하지 않는 TRAVEL_IDs:")
    print(missing_travel_ids['TRAVEL_ID'].unique())  # 고유 ID 출력
else:
    print("모든 행동 TRAVEL_ID가 여행자 df_traveller에 존재합니다.")

모든 행동 TRAVEL_ID가 여행자 df_traveller에 존재합니다.

In [11]:
# 여행객 - 이동 조인 

merged_df = pd.merge(df_traveller, df_mvmn_consume,
                    left_on='TRAVELER_ID', right_on='TRAVEL_ID',
                    how='left')
merged_df.drop(columns=['TRAVEL_ID'], inplace = True) # TRAVEL_ID 칼럼 버리기

# 여행객 - 이동 - 숙박 조인
merged_df = pd.merge(merged_df, df_lodge_consume,
                     left_on = 'TRAVELER_ID', right_on = 'TRAVEL_ID',
                     how = 'left')
merged_df.drop(columns=['TRAVEL_ID'], inplace = True)

# 여행객 - 이동 - 숙박 - 행동 조인
merged_df = pd.merge(merged_df, df_activity_consume,
                     left_on = 'TRAVELER_ID', right_on = 'TRAVEL_ID',
                     how = 'left')
merged_df.drop(columns=['TRAVEL_ID'], inplace = True)




merged_df.fillna('', inplace=True)

print(merged_df.columns)

print(merged_df.isnull().sum())

Index(['TRAVELER_ID', 'MALE', 'FEMALE', 'AGE_GRP', 'JOB_1', 'JOB_2', 'JOB_3',
       'JOB_4', 'JOB_5', 'TRAVEL_TERM', 'TRAVEL_NUM', 'MOTIVE_1', 'MOTIVE_2',
       'MOTIVE_3', 'MOTIVE_4', 'MOTIVE_5', 'MOTIVE_6', 'MOTIVE_7', 'MOTIVE_8',
       'MOTIVE_9', 'TRAVEL_COMPANIONS_NUM', 'MARR_STTS', 'FAMILY_MEMB',
       'INCOME', 'MVMN_1', 'MVMN_2', 'MVMN_3', 'MVMN_4', 'MVMN_PAYMENT',
       'LODGING_1', 'LODGING_2', 'LODGING_3', 'LODGING_4', 'LODGING_5',
       'LODGING_6', 'LODGING_PAYMENT', 'ACTIVITY_PAYMENT', 'ACT_TYPE'],
      dtype='object')
TRAVELER_ID              0
MALE                     0
FEMALE                   0
AGE_GRP                  0
JOB_1                    0
JOB_2                    0
JOB_3                    0
JOB_4                    0
JOB_5                    0
TRAVEL_TERM              0
TRAVEL_NUM               0
MOTIVE_1                 0
MOTIVE_2                 0
MOTIVE_3                 0
MOTIVE_4                 0
MOTIVE_5                 0
MOTIVE_6                 0
MOTIVE_7                 0
MOTIVE_8                 0
MOTIVE_9                 0
TRAVEL_COMPANIONS_NUM    0
MARR_STTS                0
FAMILY_MEMB              0
INCOME                   0
MVMN_1                   0
MVMN_2                   0
MVMN_3                   0
MVMN_4                   0
MVMN_PAYMENT             0
LODGING_1                0
LODGING_2                0
LODGING_3                0
LODGING_4                0
LODGING_5                0
LODGING_6                0
LODGING_PAYMENT          0
ACTIVITY_PAYMENT         0
ACT_TYPE                 0
dtype: int64

C:\Users\tj\AppData\Local\Temp\ipykernel_9976\4031687101.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merged_df.fillna('', inplace=True)

In [ ]:
# merged_df.to_csv('전국_조인.csv', index=False)